body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td, .button {
	font-size: 18px;
}

body, div, dl, dt, dd, ul, ol, li, pre, form, p, blockquote, th, td, .button {
	font-family: "myriad-pro-condensed", sans-serif;
}

table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
	font-size: 18px;
	line-height: 26px;
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "ltc-bodoni-175", "georgia", serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	line-height: 1.1;
	margin-bottom: 14px;
	margin-top: 14px;
}

/* Switch Font for Medium and Small Displays */
@media only screen and (max-width: 1200px) {
	h1, h2, h3, h4, h5, h6 {
		font-family: "georgia", serif !important;
	}
}

h1 { font-size: 257%; }

h2 { font-size: 200%; }

h3 { font-size: 150%; }

h4 { font-size: 120%; }

h5 { font-size: 110%; }

h6 { font-size: 90%; }

@media only screen and (max-width: 767px) {
	h1 { font-size: 150%; }
}

/* CHANGES FROM MATHEUS */
.button.dropdown > ul li {
	height: auto;
	line-height: 27px;
}
/* END OF CHANGES */

.button.dropdown > ul li a {
	font-size: 15px;
}

.muted {
	color: #999;
}

.muted.smaller {
	font-size: 85% !important;
}


/* Admin Tool Bar */
#toolbar a {
	font-size: 1.2em;
}

#header {
	margin-bottom: 30px;
}

hr.top {
	border: solid #666;
	border-width: 1px 0 0;
	clear: both;
	margin-top: 0px;
	margin-bottom: 20px;
	height: 0;
}

hr.top.double {
	margin: 0;
}

hr.bottom {
	border: solid #666;
	border-width: 1px 0 0;
	clear: both;
	margin-bottom: 50px;
	height: 0;
}

hr.top.bottom {
	margin-top: 0;
}

hr.double {
	border: solid #666;
	border-width: 1px 0 1px 0;
	height: 9px !important;
}


/* FRONT PAGE - feature menu (used on other pages as well, except for last few rules) */
.pane-menu-menu-front-page-featured ul {
	text-align: center;
	margin: 0 0 20px 0 !important;
}
.pane-menu-menu-front-page-featured ul li.leaf {
	list-style: none;
	list-style-image: none;
	font-family: "ltc-bodoni-175", "georgia", serif;
	font-size: 100%;
	text-transform: uppercase;
	border-right: 1px solid #666;
	height: 149px;
	line-height: 31px;
}

.pane-menu-menu-front-page-featured ul li.leaf:last-child {
	border-right: 0px none;
}

.pane-menu-menu-front-page-featured ul li.leaf a {
	color: #666666;
	padding: 15% 0;
	margin: 0;
	display: block;
}

.pane-menu-menu-front-page-featured ul li.leaf a:first-child {
	padding-left: 0;
}

.pane-menu-menu-front-page-featured ul li.leaf:nth-child(4) a,
.pane-menu-menu-front-page-featured ul li.leaf:nth-child(5) a {
	padding: 15% 0;
}

.pane-menu-menu-front-page-featured ul li.leaf a em {
	font-size: 250%;
	text-transform: capitalize;
	display: block;
}

.pane-menu-menu-front-page-featured ul li.leaf a:hover {
	color: #f30;
}

/* (fix: front page only.) */
.front .pane-menu-menu-front-page-featured ul li.leaf:nth-child(2) a {
	padding: 26% 0;
}

.em-lead {
	margin-top:5% !important
}


/* Switch Font for Medium and Small Displays */
@media only screen and (max-width: 1200px) {
	.pane-menu-menu-front-page-featured ul li.leaf {
		font-family: "georgia", serif;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 970px) {
	.pane-menu-menu-front-page-featured ul li.leaf a em {
		font-size: 200%;
	}
}

@media only screen and (max-width: 970px) and (min-width: 768px) {
	.pane-menu-menu-front-page-featured ul li.leaf {
		font-size: 80%;
		height: 100px;
		line-height: 18px;
	}
	.pane-menu-menu-front-page-featured ul li.leaf a em {
		font-size: 190%;
	}
}



/* FRONT PAGE - feature menu SMALL */

.pane-menu-menu-front-page-featured ul.show-for-small li.leaf {
	border-bottom: 1px solid #666;
	border-right: 0px none;
	height: auto;
	padding: 8% 0;
	width: 90%;
	margin: 0 5%;
}
.pane-menu-menu-front-page-featured ul.show-for-small li.leaf:first-child {
	padding-top: 4%;
}
.pane-menu-menu-front-page-featured ul.show-for-small li.leaf:last-child {
	border-bottom: 0px none;
	padding-bottom: 0;
}
.pane-menu-menu-front-page-featured ul.show-for-small li.leaf a {
	padding: 0;
	margin: 0;
	display: inline;
}


/* FRONT PAGE - news */

#News {
	display: none;
	margin-top: 13px;
	width: 850px !important;
}
#News.orbit {
	display: block;
}

#News .views-row.orbit-slide {
 	background: #fff;
 	color: #666;
 	font-size: 23px;
}

#News .views-row.orbit-slide a {
	color: #333;
	font-size: 32px;
	padding: 0 3px 0 0;
}

.view-id-new_front_page.view-display-id-block h2 {
	color: #666;
	margin: 8px 0 0 0;
}
.view-id-new_front_page.view-display-id-block h2 i {
	font-size: 24px;
}

.view-id-new_front_page.view-display-id-block div.slider-nav {
	position: absolute;
	z-index: 1;
	right: 0px;
	top: 17px;
	width: 60px;
}

.view-id-new_front_page.view-display-id-block div.timer {
	display: none;
	visibility: none;
}
.view-id-new_front_page div.orbit-wrapper div.slider-nav span.left,
.view-id-new_front_page div.orbit-wrapper div.slider-nav span.right {
	width: 50%;
	background-size: auto !important;
}
.view-id-new_front_page div.orbit-wrapper div.slider-nav span.left {
	background: url(../images/news/arrow-left.png) no-repeat center;
	left: 0;
}

.view-id-new_front_page div.orbit-wrapper div.slider-nav span.right {
	background: url(../images/news/arrow-right.png) no-repeat center;
}


/* Admin Tabs */
.page-leadership ul.tabs.pill {
	opacity:0.2;
}

.page-leadership ul.tabs.pill:hover {
	opacity:1;
}

.page-leadership ul.tabs.pill dd a:hover {
	background-color: #CCC;
}

/* INTERIOR - tabs */
.menu-block-2 .nav-bar {
	height: 45px; /* reset */
	background: transparent; /* reset */
	margin: 0 0 -6px 0;
	padding: 0; /* reset */
}

.menu-block-2 .nav-bar > li {
	float: left; /* reset */
	display: block; /* reset */
	position: relative; /* reset */
	padding: 0 5% 0 0; /* reset */
	margin: 0 25px 0 0; /* reset */
	border: 1px none red; /* reset */
	border-right: none; /* reset */
	line-height: auto; /* reset */
	width: auto !important; /* reset */
}

@media only screen and (max-width: 767px) {
	.menu-block-2 .nav-bar > li {
		margin: 0 2px 0 0;
		padding: 0 3% 0 0;
	}
}

.menu-block-2 .nav-bar > li:last-child {
	margin: 0;
}

.menu-block-2 .nav-bar > li:hover {
	background: transparent; /* reset */
	border-bottom: 8px solid #999;
}

.menu-block-2 .nav-bar > li.active,
.menu-block-2 .nav-bar > li.active-trail {
	background: transparent; /* reset */
	border-bottom: 8px solid #F30;
}

.menu-block-2 .nav-bar > li.active:hover {
	background: transparent; /* reset */
	cursor: default;
}

.menu-block-2 .nav-bar > li > a {
	color: #999;
	width: auto !important;
}

.menu-block-2 .nav-bar > li > a:first-child {
	position: relative; /* reset */
	padding: 0; /* reset */
	display: block; /* reset */
	text-decoration: none; /* reset */
	font-size: 20px; /* reset */

}

.menu-block-2 .nav-bar > li.active > a,
.menu-block-2 .nav-bar > li.active-trail > a {
	color: #333; /* reset */
}

/* Use Viewport Classes on Span */
.menu-block-2 span.hide-for-small,
.menu-block-2 span.show-for-medium,
.menu-block-2 span.show-for-medium-down,
.menu-block-2 span.hide-for-large,
.menu-block-2 span.hide-for-large-up,
.menu-block-2 span.hide-for-xlarge {
	float: left;
	clear: none;
}

.menu-block-2 span.first {
	padding: 0 5px 0 0;
}

.menu-block-2 span.last {
	padding: 0 0 0 5px;
	float: right;
}

/* Correct for Footer Menu */
.menu-block-3 span.first {
	padding: 0 2px 0 0;
}

.menu-block-3 span.last {
	padding: 0 0 0 3px;
}



/* Footer menu */
#footer-bottom hr.top:first-child {
	margin-top: 30px;
}

#footer-bottom {
	margin-bottom: 20px;
}
#footer-bottom * {
	font-size: 16px !important;
	line-height: 20px !important;
}
#footer-bottom a {
	color: #707070;
	font-weight: bold;
}
#footer-bottom ul li ul a {
	color: #b0a7a7;
	font-weight: normal;
}
#footer-bottom ul.nav-bar {
	background: #fff;
	height: auto;
}
#footer-bottom ul.nav-bar > li {
	border: none !important;
}
#footer-bottom ul.nav-bar > li:hover {
	background: none;
}
#footer-bottom ul.nav-bar li a {
	padding: 0 0 0 0 !important;
}
#footer-bottom ul.nav-bar ul,
#footer-bottom ul.nav-bar ul ul {
	margin: 0 !important;
}
#footer-bottom ul.nav-bar li ul li {
	float: none;
	display: block;
	margin: 0 0 0 0;
	list-style: circle;
}
#footer-bottom ul.expanded li,
#footer-bottom ul.nav-bar li ul li,
#footer-bottom ul.nav-bar a {
	border: none !important;
	background: none !important;
}
#footer-bottom ul.nav-bar > li.active {
	background: #fff !important;
	border-color: #CC2900 !important;
}

#footer-bottom ul.nav-bar span.show-for-small {
	display: none !important;
}

/* Locations View */
.view-id-locations table {
	width: 100%;
	border: none;
}
.view-id-locations table thead {
	display: none;
}
.view-id-locations table tbody {
	border: none;
}
.view-id-locations table tr.even,
.view-id-locations table tr.odd {
	background-color: #fff;
	border-bottom: 1px solid #666;
}

.view-id-locations table tr.views-row-last {
	border-bottom: none;
}

.view-id-locations table tr td {
	padding: 40px 0;
}

.view-id-locations table tr.views-row-last td {
	padding-bottom: 0;
}

.view-id-locations table td.views-field-field-building-photo {
	width: 430px;
}
.view-id-locations table td.views-field-field-church-state {
	padding-top: 60px;
}

.location-list-anchor-wrapper {
	position: relative;
	top: 0px;
	left: 0px;
}
.location-list-anchor {
	height: 1px;
	width: 1px;
	position: absolute;
	top: -48px;
	left: 0px;
}


/* CHURCH PAGES */

.field-name-field-church-service-day{
	font-weight: bold;
}

.field-name-field-church-service-day:after{
	content: ":";
}

/*
.field-name-field-church-service-time{
	margin-left: 20px;
}
*/

.node-church .office {
	margin-bottom: 25px;
}

.node-church .view-id-church_photo img {
	margin-bottom: 30px;
}

/* TABLES */
.table, .views-table {
	border-collapse: collapse;
	background: transparent;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin: 0 0 18px;
	border: 1px none;
	width: 100%;
}

.table th,
.table td {
  border: none;
}

.table thead{
	background: transparent;
}

.table tbody{
	border: 1px none;
}

.table tr {
	border: none;
	background-color: transparent;
}

.table-top-stripe tr {
	border-top: 1px solid #999;
}

.table-condensed th,
.table-condensed td {
  padding: 2px 12px;
}

.table-top-stripe th,
.table-top-stripe td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.table-condensed th:first-child,
.table-condensed td:first-child {
  padding-left: 0;
}

.table tbody tr.even, table tbody tr.alt { background: none; }

.table tbody tr:nth-child(even) { background: none; }

/* CHANGES FROM MATHEUS */
.table .label {
	text-transform: uppercase;
}
/* END OF CHANGES */


/* "IMAGE-BLOCK" STYLE (USED ON /WHAT-TO-EXPECT) */

.image-block{
	background: url(../images/gradient.png) repeat-x 0 0;
}

.image-block-content{
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 40px;
}

.image-block-content h2{
	margin-top: 20px;
}

/* STORIES PAGE */

body.page-node-13711 .views-field-field-sermondate {
	display: none;
}

.view-id-Stories .block-grid.one-up {
	margin: 0 0 4% 0;
}

.view-id-Stories .views-row {
	position: relative;
}

.view-id-Stories .views-field-field-image a {
	padding: 0;
	margin: 0;
}
.view-id-Stories h4 {
	background: url(../images/gradient.png) repeat-x 0 -215px;
	width: 100%;
	min-height: 100px;
	margin-top: -1%;
	padding: 10px 0 0 2%;
}

@media only screen and (max-width: 768px) {
	.view-id-Stories h4 {
		background: transparent;
		width: 100%;
		min-height: 0;
		margin-top: 0;
		margin-bottom: 2%;
		padding: 10px 0 0 2%;
	}
}

.view-id-Stories p {
	margin-top: -74px;
	padding: 0 0 0 20px;
}

.story-play-button {
	text-align: center;
}


.view-id-Stories i {
	display: none;
	visibility: hidden;
/*	position: absolute;
	top: 10%;
	font-size: 11em;
	color: rgb(255, 255, 255); opacity: 0.4;
	margin-left: auto;
	margin-right: auto;*/
}

/* Footer Social Icons */

#footer-bottom .social {
	margin-bottom: 23px;
}

#footer-bottom .social * {
	font-size: 115% !important;
	line-height: normal !important;
	font-family: "myriad-pro-condensed", sans-serif;
	color: #CCC;
	list-style: none;
}

#footer-bottom .social h2 {
	font-family: "ltc-bodoni-175", "georgia", serif;
	font-size: 100%;
	color: #666;
	padding: 7px 0 0 0;
	margin: 0;
}

#footer-bottom .social.show-for-medium a,
#footer-bottom .social.show-for-small a {
	display: block;
	float: left;
	margin: 3% 0 0 0;
	width: 20%;
}

#footer-bottom .social a:hover i {
	color: #ff3300;
}

#footer-bottom span {
	display: inline !important;
}

#footer-bottom .social .cityicon {
	padding-left: 28px;
	min-height: 29px;
	background: url(../images/TheCity_oneColor.png) no-repeat 0 2px;
}

#footer-bottom .social .cityicon:hover {
	background-image: url(../images/TheCity_oneColorRed.png);
}


#podcast-modal * {
	font-family: "myriad-pro-condensed", sans-serif;
}

#podcast-modal h2 {
	font-family: "ltc-bodoni-175", "georgia", serif;
}

#podcast-modal li {
	margin-top: 10px;
	list-style: none;
}

#podcast-modal div {
	margin-left: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
}

#podcast-modal div:hover i {
	color: #ff3300;
}


/* FRONT FEATURED IMAGE */
.view-id-front_page_featured_2 {
	width: 100%;
	text-align: center;
	margin: 0 0 20px 0;
}

.view-id-front_page_featured_2 .hero {
	display: block;
	height: 450px;
	width: 100%;
	background-position: center top;
	background-repeat: no-repeat;
}
.buttons {
	margin: 400px 0 -428px 0;
}

.buttons * {
	display: inline;
}

.view-id-front_page_featured_2 .views-field-edit-node a {
	background-color: #eee;
	width: 100%;
	text-align: center;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	display: block;
}

@media only screen and (max-width: 650px) {
	.view-id-front_page_featured_2 .hero {
		background-size: 352%;
		height: 365px;
	}
	.buttons {
		display: none;
	}
}

@media only screen and (max-width: 550px) {
	.view-id-front_page_featured_2 .hero {
		height: 308px;
	}
}

@media only screen and (max-width: 495px) {
	.view-id-front_page_featured_2 .hero {
		height: 279px;
	}
}

@media only screen and (max-width: 449px) {
	.view-id-front_page_featured_2 .hero {
		height: 257px;
	}
}

@media only screen and (max-width: 400px) {
	.view-id-front_page_featured_2 .hero {
		height: 221px;
	}
}

@media only screen and (max-width: 350px) {
	.view-id-front_page_featured_2 .hero {
		height: 180px;
	}
}

/* CrossRef from ESV */
a.esvBibleRef {
	color:#F30;
	text-decoration:none;
}

p + ul {
	margin-top: -10px;
}

.pane-content ul {
	margin-left: 15px;
}

.pane-content ul.button-group {
	margin-left: 0px;
}



/* Media Item Nav */
#block-jnet-media-series-jnet-media-series-media {
	margin-top:40px;
}

#block-jnet-media-series-jnet-media-series-media ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#block-jnet-media-series-jnet-media-series-media ul li {
	margin: 0;
	border-top: 1px solid #666;
	font-size: 20px
}

#block-jnet-media-series-jnet-media-series-media ul li.last {
	border-bottom: 1px solid #666;
}

#block-jnet-media-series-jnet-media-series-media ul li a {
	display: block;
	width: 100%;
	padding: 4% 0 4% 4%;
}

#block-jnet-media-series-jnet-media-series-media ul li a.active {
	background-color: #EEE;
	font-size: 23px;
	font-weight: bold;
	color: #666;
	cursor: default;
}

#block-jnet-media-series-jnet-media-series-buttons {
	margin-top:20px;
}

/* MEDIA ITEMS */

.audio .button {
	margin-top: 20px;
}

/* Church Thumbnails on /visit*/

.view-visit-church-images {
	border-bottom: 1px solid #666;
}

.view-visit-church-images .views-row {
	min-height: 200px;
}

@media only screen and (max-width: 767px) {
	.view-visit-church-images {
		border-bottom: none;
	}
}

#block-views-visit-church-images-block li.views-row h4 {
	margin-bottom: 0px;
}

.thumb-panel {
	height: 300px;
}


/* AddThis */
.atm * {
	font-family: Arial, sans-serif;
	font-size: 12px;
}
#at_auth {
	padding: 3px 10px 20px;
	line-height: 20px;
	height: 20px;
}
.atm-f {
	height: 25px !important;
}

/* PROMOTION CONTENT */
body.node-type-promotion-content .content-header {
	margin-bottom: 20px;
}

.node-type-promotion-content .columns>h5 {
	margin-right: 10px;
	display: block;
	float: left;
}

@media only screen and (max-width: 768px) {
	.node-type-promotion-content .columns>h5 {
		margin-right: 0;
		display: block;
		float: none;
	}
	.button {
		margin-bottom: 10px;
	}
}

.node-type-promotion-content .columns>.label {
	font-size: 18px;
	line-height: 24px;
	margin: 13px 10px 0 0;
	padding: 0 2%;
	display: block;
	float: left;
}

.button>.label {
	background-color: #c30;
}

.button:hover>.label {
	background-color: #930;
}

#event-rsvp {
	margin-top: 20px;
}

/* MEET THE STAFF */

#block-block-17 {
	margin-top: 45px;
}

#sidebar-first .block-menu-block ul {
	height: auto;
	border-bottom: 1px solid #e6e6e6;
	padding: 0;
	margin: 0 0 50px 0;
	list-style-type: none;
}
#sidebar-first .block-menu-block ul li {
	float: none;
	height: auto;
	padding: 0;
	margin: 0;
	list-style-image: none;
	list-style-type: none;
}
#sidebar-first .block-menu-block ul li {
	border-left: 3px solid #cccccc;
}
#sidebar-first .block-menu-block ul li a {
	background: #f2f2f2;
	border: none;
	border: 1px solid #e6e6e6;
	border-width: 1px 1px 0 0; color: #555;
	display: block;
	font-size: 18px;
	height: auto;
	line-height: 1;
	padding: 15px 20px;
}
#sidebar-first .block-menu-block ul li.active {
	margin-top: 0;
	border-top: 1px solid #4d4d4d;
	border-left: 4px solid #1a1a1a;
}
#sidebar-first .block-menu-block ul li.active a {
	background: #4d4d4d;
	border: none;
	color: #fff;
	height: auto;
	margin: 0;
	position: static;
	top: 0;
}
#sidebar-first .block-menu-block ul li:first-child a.active {
	margin: 0;
}

.view-meet-the-staff h3 {
	margin: 0;
}

.view-meet-the-staff .views-field-field-title .field-content {
	font-weight: bold;
	color: #666;
	margin: 2px 0 0 0;
}

.view-meet-the-staff .views-field-body .field-content {
	margin: 10px 0 0 0;
}

.view-meet-the-staff hr.top {
	margin: 30px 0;
}

.view-meet-the-staff .views-row-last hr.top {
	display: none;
	visibility: hidden;
}

/* CHURCH STAFF */

.role-title {
	margin-top: -10px;
	line-height: 90%;
	font-size: 16px;
}

/* Special fixes for medium screen */
@media only screen and (max-width: 1279px) and (min-width: 768px) {
	.views-field-title h6 {
		font-size: 60%;
	}
	.role-title {
	font-size: 14px;
	}

	.top-bar ul.left-links > li:last-child {
		width: 36% !important;
	}

	.view-resources div.three.columns {
		min-width: 70px;
	}

	.view-resources div.five.columns {
		max-width: 100px;
	}

	.view-resources div.four.columns {
		max-width: 100px;
	}


}



/* MEDIA SERIES */


.node-type-media-series .field-name-field-image {
	padding: 0 20px 0 0;
}

.node-type-media-series h1,
.node-type-media-series h2 {
	margin: 0;
}

.node-type-media-series .field-name-field-seriesdate {
	font-weight: bold;
	margin: 5px 0 20px 0;
}
.node-type-media-series a.all-sermons {
	margin: 27px 0 0 20px;
}

.node-type-media-series h4 {
	margin-bottom: 0;
}

.node-type-media-series .views-row hr.top, #media-series-media-list hr.top {
	margin: 20px 0;
}


/* RECENT RESOURCES */

.view-id-resources .row hr.top {
	margin: 3% 0;
}

.view-id-resources .five.columns {
	min-height: 2em;
}

/* GIVE TICKER */

.section-give #featured .slide { display: none; }
.section-give #featured .slide:first-child { display: block; }
.section-give #featured .orbit-slide { display: block; }


div.timer {
	display: none;
}


/* LOGOS IN PANELS */

.panel-pane .logo {
	border-top: 1px solid #666;
	padding-top: 15px;
	min-height: 270px;
	text-align: center;
}

.panel-pane .logo img {
	margin-bottom: 5px;
}
.panel-pane .logo p {
	text-align: left;
}

/* JOBS VIEW */

.view-jobs .views-field-body {
	width: 35%;
}

.node-job-posting .field-name-body li p, .node-job-posting .field-name-body li li p {
	margin-bottom: 10px;
}

.node-job-posting ul {
	list-style-position: outside;
	margin-left: 3em;
}

/* JOBS 2 */
.view-id-jobs_2 thead {
	border-bottom: 1px solid #666;
}
.view-id-jobs_2 tbody tr:first-child td {
	padding-top: 20px;
}
.view-id-jobs_2 h3 {
	margin-bottom: 0;
}
.view-id-jobs_2 .views-field-field-job-type {
	min-width: 100px;
}

.view-id-jobs_2 .views-field-field-status {
	min-width: 200px;
}

.view-id-jobs_2 .label {
	margin-right: 10px;
	margin-bottom: 10px;
}

/* KIDS PAGE */

.view-id-service_times_kids_page tr {
	border-top: 1px solid #666;
}

.view-id-service_times_kids_page td {
	padding-top: 5px;
	padding-bottom: 20px;
}
.view-id-service_times_kids_page h3 {
	margin-top: 0;
	min-width: 7em;
}

.view-id-service_times_kids_page .nokids {
	display: none;
	visibility: hidden;
}

.view-id-service_times_kids_page .field-collection-item-field-church-times * {
	display: inline;
}

/* PANEL PANE BY VISIBILITY RULE */

.visibility-role-is-logged-in-user {
	margin-bottom: 5px;
	padding: 10px;
	background-color: #ffffcc;
}

.visibility-role-is-logged-in-user:before {
	color: #ffcc00;
	content: "Only Visible To Logged In Users";
	text-align: center;
	width: 100%;
	display: block;
	margin: 10px 0;
}

/* schedule - this week */

.schedule {
	color: #666;
}

.schedule .service {
	margin-bottom: 20px;
	line-height: 118%;
}

.schedule h6 {
	margin-top: 0;
}
.schedule ul,
.schedule ul li {
	list-style: none;
	line-height: normal;
}
.schedule ul {
	padding: 0 15px;
}
.schedule ul li {
	margin-left: 0;
	padding-left: 0;
}

.schedule .label.secondary a {
	color: #333;
	text-decoration: none;
	font-weight: normal;
}
.schedule .label.secondary a:hover {
	color: #000;
	text-decoration: none;
}

#scheduleModal .row {
	line-height: 1.2em;
}

/* To Break Date on Small screens */
@media only screen and (max-width: 450px) {
	.schedule h3 small {
		display: block;
		margin: 0.7em 0 .2em;
	}
}

/* For scroll links */
span#this_weekend {
	position: absolute;
	display: block;
	top: -60px;
	background-color: transparent;
	border: 1px none;
}

/* Vertical Tabs */
dl.tabs.vertical dd a {
	font-size: 18px;
}

/* Needs Roles */

.view-id-need_items .views-row {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/*.view-id-need_items .views-row .need-item{
  width: 200px;
  float: left;
}

.view-id-need_items .views-row .button {
  top: 3px;
  min-width: 100px;
  float: right;
  margin-right: 60px;
}*/

.signup-td {
	width: 83px;
}

.wufoo-modal {
	max-height: 2000px;
}

.view-id-need_items .views-row .blockquote {
  padding-top: 0px;
}


/* Hide church map block when ?mobileapp is active */
.mobileapp #block-views-church-map-block {
	display: none;
}


/* No Wrap for dates */
.nowrap {
	white-space: nowrap;
}

/* Position loading gif on CO bio modal */
#loading-gif {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	display: block;
}


/* Flat Buttons for Media Series */
.flat {
	border: 1px none;
	webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.full-width {
	width: 100%;
	text-align: center;
	padding-top: 0;
	padding-bottom: 0;
	vertical-align: middle;
}

.button [class*="s-foundicon-"] {
	vertical-align: middle;
}


/*Equip Events Page*/

.views-page .view-equip-events .views-field-field-event-starting-at {
	width: 30%;
}

.views-page .view-equip-events .views-field-title {
	width: 40%;
}

/* Override inline styles from The City */
span.uc {
	font-size: inherit !important;
}

#media-series-media-list li {
	margin: 0;
}

body.page-node-18757 .button.radius.secondary.disabled {
	color: #000;
}

div.music-player {
	min-height:160px;
	border-bottom:1px solid #F3F3F3;
	margin-bottom:30px;
}
